* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #2f3c48;
}

.movie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container h1 {
  color: whitesmoke;
  margin: 1em;
}

.movie h3,
.movie h4 {
  color: whitesmoke;
}

h4 {
  margin: 1em;
}

header {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputmovie {
  display: flex;
  gap: 1em;
}

main ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}